{% extends 'base/base.html' %}
{% block title %}login | {% endblock %}
{% block base%}
<h1 class="mt-3 mb-3">Login</h1>

<form method="POST" action="{% url 'login' %}">
  {% include 'partials/_message.html' %}
    {% csrf_token %}
      {% for field in form.visible_fields%}
      <div class="text-center mb-3">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
      {{field}}
    </div>
 {%endfor%}
 <div>
  
  <button type="submit" class="btn btn-primary">Entrar</button>
 </div>

</form>

  <a href="{% url 'cadastro' %}"><button class="btn btn-primary" >Cadastrar</button></a>


{% endblock %}